@import './src/assets/style/vars';

.paragraph-text {
  font-family: $FONT_ROBOTO;
  font-size: 18px;
  line-height: 160%;
  color: $FONT_WHITE_COLOR;
  margin-top: 32px;
  position: relative;
  z-index: 5;
}

.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $FONT_DARK_GRAY_COLOR;
}

@media (max-width: 1366px) {
  .paragraph-text {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .paragraph-text {
    font-size: 14px;
    margin-top: 12px;
  }
}