.tag {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  background: rgba(126, 209, 255, 0.16);
  border-radius: 4px;
}

.blog-card-tag {
  font-size: 12px;
  padding: 0 8px;
}

.categories-tag {
  font-size: 14px;
}