@media (max-width: 1700px) {
  .text-stroke {
    font-size: 130px;
  }
  .right-up {
    top: -100px;
  }
}

@media (max-width: 1440px) {
  .right-center, .right-up, .right-bottom {
    right: -50px;
  }
}

@media (max-width: 1366px) {
  .text-stroke {
    font-size: 100px;
  }
  .right-center {
    top: -10px;
  }
  .right-up {
    top: -70px;
  }
}

@media (max-width: 950px) {
  .text-stroke {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
  }
}
