$HIGH_FIDELITY_BLUE_COLOR: #7ED1FF;
$HIGH_FIDELITY_PURPLE_COLOR: #511281;
$HIGH_FIDELITY_ORANGE_COLOR: #FF9D42;
$HIGH_FIDELITY_BLACK_COLOR: #11011E;
$HIGH_FIDELITY_WHITE_COLOR: rgba(255, 255, 255, 0.02);

$FOOTER_COLOR: rgba(255, 255, 255, 0.1);
$HEADER_BACKGROUND_COLOR: rgba(19, 1, 34, 0.8);
$MENU_MOBILE_BACKGROUND_COLOR: rgba(19, 1, 34, 1);
$CALCULATOR_BORDER_COLOR: rgba(255, 255, 255, 0.4);
$CALCULATOR_TEXT_SHADOW_COLOR: rgba(0, 0, 0, 0.8);
$EARNING_CARD_BOX_SHADOW: rgba(69, 42, 124, 0.9);
$TAG_BACKGROUND: rgba(126, 209, 255, 0.16);

$WIREFRAME_BLACK_COLOR: #000000;
$WIREFRAME_DARK_GRAY_COLOR: #808080;
$WIREFRAME_LIGHT_GRAY_COLOR: #C6C6C6;
$WIREFRAME_WHITE_COLOR: #EAEAEA;

$FONT_BLACK_COLOR: #2B2B2B;
$FONT_DARK_GRAY_COLOR: #B6B6B6;
$FONT_LIGHT_GRAY_COLOR: #ECF1F0;
$FONT_WHITE_COLOR: #FFFFFF;

$FONT_RALEWAY: 'Raleway', sans-serif;
$FONT_ROBOTO: 'Roboto', sans-serif;
$FONT_MONTSERRAT: 'Montserrat', sans-serif;