@import "../../../../assets/style/vars";

.link-arrow {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $HIGH_FIDELITY_BLUE_COLOR;
  position: relative;
  padding-right: 20px;
  transition: padding-right .4s;

  &:hover, &:focus {
    padding-right: 30px;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 7px;
    background-color: $HIGH_FIDELITY_BLUE_COLOR;
  }

  &:before {
    top: 5px;
    right: 0;
    transform: rotate(45deg);
  }

  &:after {
    bottom: 5px;
    right: 0;
    transform: rotate(-45deg);
  }
}

