@import './src/assets/style/vars';

.currency-block {
  width: 340px;
  height: 100%;
  border-radius: 16px;
  background-color: $HIGH_FIDELITY_PURPLE_COLOR;
  border: 2px solid $CALCULATOR_BORDER_COLOR;
  position: relative;

  .crypto-currency, .usd-currency-name, .color-block {
    height: 50%;
    width: 100%;
  }

  .crypto-currency, .usd-currency-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .color-block {
    position: absolute;

    left: 0;
    border-radius: 16px;
    background-color: $HIGH_FIDELITY_BLUE_COLOR;
    border: 3px solid $CALCULATOR_BORDER_COLOR;
    width: 100%;
    height: 50%;
    z-index: 1;
  }

  .color-block-without-border-radius {
    border-radius: 16px 16px 0 0;
  }

  .color-block-up {
    animation: blockUp .3s ease-in-out forwards;
  }

  .color-block-down {
    animation: blockDown .3s ease-in-out forwards;
  }
}