@media (max-width: 1100px) {
  .article-card {
    width: 100%;
  }
  .article-card + .article-card {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .article-card .article-card__header .article-card__text-wrapper .article-card__article-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  }
  .article-card .article-card__header .article-card__text-wrapper .article-card__article-subtitle {
    font-size: 15px;
    line-height: 22px
  }
  .article-card .article-card__content .article-card__post-title {
    font-size: 16px;
    line-height: 24px;
  }
  .article-card .article-card__content .article-card__source {
    font-size: 15px;
    line-height: 22px;
  }
  .article-card {
    padding: 20px 15px 15px;
  }
  .article-card .article-card__header .article-card__img {
    width: 65px;
  }
}

@media (max-width: 320px) {
  .article-card .article-card__header .article-card__text-wrapper .article-card__article-title{
    font-size: 16px;
  }
  .article-card .article-card__header .article-card__text-wrapper .article-card__article-subtitle {
    font-size: 14px;
  }
  .article-card .article-card__content .article-card__post-title {
    font-size: 14px;
    line-height: 20px;
  }
}