@import './src/assets/style/vars';

.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  background-color: $WIREFRAME_WHITE_COLOR;
  border-radius: 53px;
  width: 48px;
  height: 48px;
  padding: 0;
  z-index: 3;
  outline: none;

  box-shadow: inset 0px -3px 4px rgba(43, 8, 70, 0.5);
  transition: opacity .2s ease-out;

  img {
    width: 70%;
  }
}

.hide-toggle {
  transition: opacity .2s ease-out;
  opacity: 0;
}

.spin-animation img {
  animation: rotation .4s ease-in-out 1;
}