@import './src/assets/style/vars';

.page-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}

.page-section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: $FONT_ROBOTO;
}

.page-section-title, .page-section-subtitle {
  color: $FONT_LIGHT_GRAY_COLOR;
  text-align: center;
}