@import './src/assets/style/vars';

.crypto-currency {
  position: relative;

  .button-selector-currency {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-family: $FONT_RALEWAY;

    position: relative;
    z-index: 1;

    .arrow-down {
      padding-left: 5px;
      transition: all .3s ease-in-out;

      .arrow-down-svg {
        fill: $FONT_LIGHT_GRAY_COLOR;
        opacity: 0.4;
        text-shadow: 0 0 3px $CALCULATOR_TEXT_SHADOW_COLOR;
      }
    }
  }

  .select-currency-wrapper {
    position: absolute;
    z-index: 4;
    top: 100%;
    width: 0;
    height: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;

    border-radius: 0 0 16px 16px;
    border: 3px solid transparent;
    border-top: none;
    overflow: auto;

    transition: all .3s ease-in-out;
  }

  .select-currency-wrapper-open {
    height: 250px;
    width: 100%;
    border: 3px solid $CALCULATOR_BORDER_COLOR;
    background-color: $HIGH_FIDELITY_BLUE_COLOR;
  }
}

.crypto-currency-active {
  .button-selector-currency {
    .arrow-down {
      .arrow-down-svg {
        fill: $HIGH_FIDELITY_PURPLE_COLOR;
        opacity: 1;
        text-shadow: none;
      }
    }
  }
}

.crypto-currency-open-selector {
  .button-selector-currency {
    .arrow-down {
      transform: scale(1, -1);
    }
  }
}

.currency-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: $FONT_LIGHT_GRAY_COLOR;

  position: relative;
  z-index: 1;

  opacity: 0.4;
  text-shadow: 0 0 3px $CALCULATOR_TEXT_SHADOW_COLOR;
}

.currency-name-active {
  color: $HIGH_FIDELITY_PURPLE_COLOR;
  opacity: 1;
  text-shadow: none;
}
