@import '../../../../assets/style/vars';

.tag {
  font-weight: 500;
  font-family: $FONT_ROBOTO;
  line-height: 22px;
  background: $TAG_BACKGROUND;
  border-radius: 4px;
  color: $FONT_WHITE_COLOR;
}

.blog-card-tag {
  font-size: 12px;
  padding: 0 8px;
}

.categories-tag {
  font-size: 14px;
}

.tag-filter-button {
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 4px 16px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
}

.tag-filter-active {
  border: 1px solid $HIGH_FIDELITY_BLUE_COLOR;
}