@import '/src/assets/style/vars';

.header {
  background: $HEADER_BACKGROUND_COLOR;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

@import './media';