@import './src/assets/style/vars';

.footer {
  padding-top: 64px;
  padding-bottom: 94px;

  h2 {
    color: $FOOTER_COLOR;
    font-weight: 700;
    font-size: 96px;
    line-height: 98px;
  }
}

@media (max-width: 1520px) {
  .footer h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 50px;
  }
}

@media (max-width: 750px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 45px;
  }
}
