@import './src/assets/style/vars';

.footer {
  padding-top: 64px;
  padding-bottom: 94px;

  h2 {
    color: $HIGH_FIDELITY_WHITE_COLOR;
    font-weight: 700;
    font-size: 96px;
    line-height: 98px;
  }
}