@import './src/assets/style/vars';
@import './src/components/Calculator/style/animation';


.calculator {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;

  .currency-block {
    width: 340px;
    height: 230px;
    border-radius: 16px;
    background-color: $HIGH_FIDELITY_PURPLE_COLOR;
    border: 2px solid $CALCULATOR_BORDER_COLOR;
    position: relative;

    .crypto-currency, .usd-currency-name, .color-block {
      height: 50%;
      width: 100%;
    }

    .crypto-currency, .usd-currency-name {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }

    .crypto-currency {
      position: relative;

      .arrow-down {
        border: none;
        background-color: transparent;
        position: relative;
        z-index: 1;

        .arrow-down-svg {
          fill: $FONT_LIGHT_GRAY_COLOR;
          opacity: 0.4;
          text-shadow: 0 0 3px $CALCULATOR_TEXT_SHADOW_COLOR;
        }
      }

      .select-currency-wrapper {
        position: absolute;
        z-index: 4;
        top: 100%;
        width: 100%;
        height: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $HIGH_FIDELITY_BLUE_COLOR;
        border-radius: 0 0 16px 16px;
        border: 3px solid $CALCULATOR_BORDER_COLOR;
        border-top: none;
        overflow: auto;

        transition: height .4s ease-in-out;

        .ScrollbarsCustom-ThumbY {
          background-color: $HIGH_FIDELITY_PURPLE_COLOR !important;
        }

        button {
          width: 100%;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          color: $HIGH_FIDELITY_PURPLE_COLOR;
          background-color: transparent;
          border: none;
          padding: 12px 5px;
          border-top: 1px solid $CALCULATOR_BORDER_COLOR;
          border-bottom: 1px solid $CALCULATOR_BORDER_COLOR;

          &:first-child {
            border-top: none;
          }
        }
      }

      .select-currency-wrapper-open {
        height: 250px;
      }
    }

    .crypto-currency-active {
      .arrow-down .arrow-down-svg {
        fill: $HIGH_FIDELITY_PURPLE_COLOR;
        opacity: 1;
        text-shadow: none;
      }
    }

    .currency-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 44px;
      color: $FONT_LIGHT_GRAY_COLOR;

      position: relative;
      z-index: 1;

      opacity: 0.4;
      text-shadow: 0 0 3px $CALCULATOR_TEXT_SHADOW_COLOR;
    }

    .currency-name-active {
      color: $HIGH_FIDELITY_PURPLE_COLOR;
      opacity: 1;
      text-shadow: none;
    }

    .toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      border: none;
      background-color: $WIREFRAME_WHITE_COLOR;
      border-radius: 53px;
      width: 48px;
      height: 48px;
      padding: 0;
      z-index: 3;
      outline: none;

      box-shadow: inset 0px -3px 4px rgba(43, 8, 70, 0.5);
      transition: opacity .2s ease-out;

      img {
        width: 70%;
      }
    }

    .hide-toggle {
      transition: opacity .2s ease-out;
      opacity: 0;
    }

    .spin-animation img {
      animation: rotation .4s ease-in-out 1;
    }

    .color-block {
      position: absolute;

      left: 0;
      border-radius: 16px;
      background-color: $HIGH_FIDELITY_BLUE_COLOR;
      border: 3px solid $CALCULATOR_BORDER_COLOR;
      width: 100%;
      height: 50%;
      z-index: 1;
    }

    .color-block-without-border-radius {
      border-radius: 16px 16px 0 0;
    }

    .color-block-up {
      animation: blockUp .3s ease-in-out forwards;
    }

    .color-block-down {
      animation: blockDown .3s ease-in-out forwards;
    }
  }
}