@import './src/assets/style/vars';
@import './src/components/Calculator/style/animation';

.calculator, .earning-block {
  flex-direction: row;
}

.calculator, .earning-block, .currency-inputs-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.calculator {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
  height: 360px;

  .currency-inputs-block {
    flex-direction: column;
    width: 75%;
    height: 100%;
  }
}

.earning-block {
  width: 100%;

}

